/****** PLACE YOUR CUSTOM STYLES HERE ******/
/* Body */
p {
  font-size: 14px;
}

/* Header */
.header-logo { width: 200px; }
.reserve-table { font-size: 18px; }
.image-slider .slides { display: flex; height: 100vh; bottom: 50px; } /* Bump up the logo and reserve button */
.menu li a { font-size: 13px; }

/* Footer */
footer { padding: 40px 0; }

/* Utiltiies */
.p-b-40 { padding-bottom: 40px; }
.m-t-20 { margin-top: 20px; }
.m-b-20 { margin-bottom: 20px; }
/* Social Icons */
#header-social i { font-size: 24px; margin: 0 10px; }
#header-social i:hover { color: #282a38; transition: .3s ease; font-weight: bold; }
footer .social-list { display: flex; justify-content: center; align-content: center; }
footer .social-list li i:hover { color: #FFF; }

/* Media Queries */
@media (max-width: 767px) {
  .image-slider .slides { bottom: 0 }
  #header-social li { margin: 0 10px; }
  a.reserve-table { margin: 0 !important; }
  .plum-tucker-hashtag { font-size: 15px; }
  .button-tabs .tabs li { display: block; width: 100%; }
  .tab-content img { margin-right: 20px; }
}
@media (max-width: 400px) {
  .tab-content img { width: 100%; }
}